<h1>Animals</h1>


<table>

  <% for animal in @animals %>

    <div>

      <tr>
        <td><a href="/animals/<%= animal.id %>"><%= animal.name %></a></td>
      </tr>

      <tr>
        <td>Admission Date: <%= animal.admission_date %></td>
      </tr>

      <tr>
        <td><br><br></td>
      </tr>
    </div>

  <% end %>


</table>





<br>
<br>


<div class="buttons">
<!-- Button to add new animal -->
  <form class="add-animal" action="animals/new" method="GET">
    <input type="submit" value="Register a new animal">

  </form>

</div>
