<h1>Animals</h1>


<div class="grid">

  <div class="grid-row">

  <% for animal in @animals %>


        <div class="cell">
          <img class="index_img" src="../images/<%= animal.photo %>" alt="">

          <h3><a href="/animals/<%= animal.id %>"><%= animal.name %></a></h3>

          <p>Registered: <%= animal.admission_date %></p>
        </div>


  <% end %>
</div>
</div>





<br>
<br>


<div class="buttons">
<!-- Button to add new animal -->
  <form class="no-border" action="animals/new" method="GET">
    <input type="submit" value="Register a new animal">

  </form>

</div>
