<h1>Register a new animal</h1>

<form class="add-animal" action="/animals" method="POST">


  <label for="photo-field">Photo:</label>
  <br>
  <input type="file" name="photo" id="photo-field" style="color: red;" value="">

  <br>
  <br>

  <label for="name-field">Name:</label>
  <br>
  <input type="text" name="name" id="name_field" value="">

  <br>
  <br>

  <label for="age-field">Age:</label>
  <br>
  <input type="number" name="age" id="age-field" value="">

  <br>
  <br>

  <label for="species-field">Species:</label>
  <br>
  <input type="text" name="species" id="species-field" value="">

  <br>
  <br>

  <label for="admission_date-field">Admission date:</label>
  <br>
  <input type="date" name="admission_date" id="admission_date-field" value="2017-01-01">

  <br>
  <br>

  <label for="is_adoptable-select">Status of animal:</label>
  <br>
    <select id="is_adoptable-select" name="is_adoptable">
      <option value="Health Check in progress">Health Check in progress</option>

    <!-- <option value="In training">In training</option>

    <option value="Available for Adoption">Available for Adoption</option> -->

      <option value="Other">Other</option>
    </select>

  <!-- <label for="adopter_id-field">Adopted by:</label>
  <input type="text" name="adopter_id" id="adopter_id-field" value="">

  <label for="adoption_date-field">Adoption date:</label>
  <input type="date" name="adoption_date" id="adoption_date-field" value=""> -->

  <br><br>

  <input type="submit" name="submit" id="add-animal" value="Register animal">


</form>
