<h1>Hogsmeade Animal</h1>
<h1>Shelter</h1>

<h2>Finding new homes for lost creatures...</h2>

<br>
<br>

<h2>Main Menu</h2>

  <div class="menu">

    <a href="/animals/new" class="add"><input type="submit" value="Register A New Animal"></a>

    <br>

    <a href="/animals"><input type="submit" id="View All Animals" value="View All Animals" /></a>

    <br><br><br>

    <a href="/adopters/new"><input type="submit" value="Register A New Adopter"></a>

    <br>

    <a href="/adopters"><input type="submit" id="View All Adopters" value="View All Adopters" /></a>



  </div>

</div>
