<h1>Hogsmeade Animal Shelter</h1>

<h2>Finding new homes for lost creatures...</h2>

<br>
<br>

<h2>Main Menu</h2>

  <div class="menu">

    <a href="/animals"><input type="submit" id="View All Animals" value="View All Animals" /></a>

    <br><br>

    <a href="/adopters"><input type="submit" id="View All Adopters" value="View All Adopters" /></a>

  </div>



</div>
