<h1>Hogsmeade Animal Shelter</h1>
<h2>Management System</h2>

<br><br><br>

<div class="buttons">

  <form action="/home" method="GET">
    <label for="username">Please enter your Username:</label>
    <input type="text" id="Username" value="">

    <input type="submit" login="" value="Login">
  </form>



</div>
