<h1>Hogsmeade Animal Shelter</h1>

<h2>Finding new homes for lost creatures...</h2>

<br>
<br>

<div class="buttons">
  <form action="/animals" method="GET">
    <input type="submit" id="View All Animals" value="View All Animals">
  </form>

  <form action="/adopters" method="GET">
    <input type="submit" id="View All Adopters" value="View All Adopters" />
  </form>

</div>
