<!DOCTYPE html>
<html>
  <head>

    <title>Hogsmeade Animal Shelter</title>
    <link rel="icon" href="/images/unicorn_logo.png" />

    <link rel="stylesheet" type="text/css" href="/styles/structure.css">

    <link rel="stylesheet" type="text/css" href="/styles/tables.css">

    <link rel="stylesheet" type="text/css" href="/styles/forms.css">

    <link href="https://fonts.googleapis.com/css?family=Allura|Calligraffitti|Josefin+Slab|Kaushan+Script" rel="stylesheet">
    <!-- font-family: 'Kaushan Script', cursive;
font-family: 'Allura', cursive;
font-family: 'Calligraffitti', cursive;
font-family: 'Josefin Slab', serif; -->





  </head>
  <body>

    <nav>
      <ul>
        <li><a href="/">Log in as another user</a></li>
      </ul>
    </nav>

    <section id="content">
      <%= yield %>
    </section>

  </body>
</html>
