<h1>Adopters</h1>

<div class="grid">
  <div class="grid-row">


<% for adopter in @adopters %>

  <div class="cell">
    <a href="/adopters/<%= adopter.id %>"><p><%= adopter.first_name %> <%= adopter.last_name %></a>

  </div>
  <br>

<% end %>

  </div>
</div>

<br><br>

<!-- Button to add new adopter -->
<form class="no-border" action="adopters/new" method="GET">

  <input type="submit" value="Register a new adopter">
