<h1>Adopters</h1>

<% for adopter in @adopters %>

  <div class="index">
    <a href="/adopters/<%= adopter.id %>"><p><%= adopter.first_name %> <%= adopter.last_name %><a>

  </div>
  <br>

<% end %>



<!-- Button to add new adopter -->
<form class="add-adopter" action="adopters/new" method="GET">

  <input type="submit" value="Register a new adopter">

</form>
