<h1>Register a new adopter</h1>

<form class="add-adopter" action="/adopters" method="POST">

  <label for="first_name-field">First Name:</label>
  <br>
  <input type="text" name="first_name" id="first_name_field" value="">

  <br>
  <br>

  <label for="last_name-field">Surname:</label>
  <br>
  <input type="text" name="last_name" id="last_name-field" value="">

  <br>
  <br>

  <label for="address-field">Address:</label>
  <br>
  <input type="text" name="address" id="address-field" value="">

  <br>
  <br>

  <label for="postcode-field">Postcode:</label>
  <br>
  <input type="text" name="postcode" id="postcode-field" value="">

  <br>
  <br>

  <label for="tel_num-field">Tel number:</label>
  <br>
  <input type="text" name="tel_num" id="tel_num-field" value="">

  <br>
  <br>

  <label for="ready_to_adopt">Would like to adopt an animal:</label>
  <br>
  <select id="ready_to_adopt" name="ready_to_adopt">
    <option value="No">No</option>

    <option value="Yes">Yes</option>
  </select>

  <br>


  <label for="adoption_date-field">Adoption date:</label>
  <br>
  <input type="date" id="adoption_date-field" value="" />

  <br>
  <br>
  <br>

  <input class="button" type="submit" name="submit" value="Register new adopter">


</form>
