body {
  background: url("/images/background.jpeg");
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 15px;
  margin: 10px;
}

h1, h2 {
  font-family: 'Josefin Slab', serif;
  color: gold;
  font-size: 25px;
  line-height: 10px
}

h1 {
  font-family: 'Allura', cursive;
  font-size: 60px;
}

.details {
  font-family: 'Josefin Slab', serif;
  color: gold;
  line-height: 10px;
}
