td, th {
  text-align: left;
  font-family: 'Josefin Slab', serif;
  color: #1766d6;
  font-size: 20px;
}

td {
  padding: 10px, 20px, 0px, 0px;
}

th {
  padding: 0px, 20px, 10px, 0px;
}

table {
  border-collapse: collapse;
}
